<?php
/**
 *  payment_link
 *
 * @copyright Copyright © 2021 https://headwayit.com/ HeadWayIt. All rights reserved.
 * @author    Ilya Kushnir ilya.kush@gmail.com
 * Date:    07.12.2021
 * Time:    13:36
 */
/**
 * @var \Magento\Framework\View\Element\Template   $block
 * @var \Magento\Framework\View\TemplateEngine\Php $this
 * @var \Magento\Framework\Escaper                 $escaper
 */
?>
<?php if($block->getPaymentLink()): ?>
    <p>
        <a target="_blank" href="<?= $block->getPaymentLink() ?>" title="<?= __('Go to payment page') ?>"><?= __('Go to payment page') ?></a>
    </p>
<?php endif; ?>
